<form method="post">
    <input type="text" name="name" placeholder="name"/>
    <input type="text" name="description" placeholder="description"/>
    <input type="number" name="category" placeholder="category"/>
    <input type="number" name="price" placeholder="price" step=".01"/>
    <button type="submit">submit</button>
</form>