
<dialog id="products-create-dialog">
    <button id="products-create-dialog-close-button" autofocus>Close</button>
    <form id="products-create-dialog-form">
        <input type="text" name="name" placeholder="שם" required/>
        <button type="submit">צור מוצר</button>
    </form>
</dialog>
<script type="module">
     <%- include('./script.js') %>
</script>