
<dialog id="products-edit-dialog">
    <button id="products-edit-dialog-close-button" autofocus>Close</button>
    <form id="products-edit-dialog-form">
        <input type="hidden" name="id" value="" required/>
        <input type="text" name="name" placeholder="שם" required/>
        <button type="submit">שמור</button>
    </form>
</dialog>
<script type="module">
     <%- include('./script.js') %>
</script>