:root {
    --sideBarWidth: 10rem;
    --footer-height: 120px;
    --primary-blue: #1e88e5;
    --dark-blue: #1565c0;
    --light-blue: #bbdefb;
    --text-on-blue: #ffffff;
}
body {
    margin: 0;
    background-color: #f0f8ff;
    font-family: "Heebo", sans-serif;
}
.navbar {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    gap: 10px;
    align-items: center;
    background-color: cornflowerblue;
    /* max-height: 4rem; */
    min-height: fit-content;
    .navbar-title {
        font-size: 2rem;
        margin: 0;
        padding: 0;
        a {
            color: black;
            text-decoration: none;
        }
    }
    .navbar-button {
        background-color: transparent;
        border: none;
        span {
            display: flex;
            align-items: center;
        }
    }
    .navbar-edge {
        grid-column: 4;
        display: flex;
        gap: 5px;
        align-items: center;
        padding-inline-end: 10vw;
        #signup-button, #login-button {
            anchor-name: --login_anchor;
        }
        #signup-popover, #login-popover {
            position-anchor: --login_anchor;
            inset-block-start: anchor(--login_anchor bottom);
            inset-inline-start: anchor(--login_anchor right);
            margin-block-start: 10px;
            margin-inline-end: 2px;
            input {
                margin-block: 5px;
            }
            background-color: rgba(140,187,217,0.57);
        }
        #cart {
            position: relative;
            #cart-badge {
                position: absolute;
                left: -10px;
                bottom: -5px;
                background-color: blue;
                color: white;
                border-radius: 50%;
                padding-block: 1px;
                padding-inline: 3px;
            }
        }
    }
}
[data-drawer-open="false"] {
    .sidebar {
        right: -250px;
    }
    main {
        margin-inline-start: 10px;

    }
    footer {
        margin-inline-start: 10px;
    }
}

.sidebar {
    position: fixed;
    height: 95vh;
    background-color: #8697c4;
    width: var(--sideBarWidth);
    z-index: 1;
    /* RTL-ONLY */
    right: 0; 
    box-shadow: rgba(0, 0, 0, 0.1) -4px 1px 3px 3px;
    transition: right 0.3s ease-out;
    ul {
        padding: 0;
        list-style: none;
        padding-inline-start: 5px;
        li {
            margin-block: 10px;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    #close-sidbar {
        position: absolute;
        left: 1px;
        top: 1px;
        background-color: transparent;
        border: none;
        font-size: 1rem;
        border-radius: 50%;
        aspect-ratio: 1;
        transition: background-color 0.3s;
        cursor: pointer;
        span {
            display: flex;
            align-items: center;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

main {
    margin-block-start: 10px;
    margin-inline-start: calc(var(--sideBarWidth) + 10px);
    transition: margin-inline-start 0.3s ease-out;
    --min-page-height: calc(85vh - var(--footer-height));
    min-height: var(--min-page-height);

}

footer {
    display: flex;
    margin-inline-start: calc(var(--sideBarWidth) + 10px);
    transition: margin-inline-start 0.3s ease-out;
    height: var(--footer-height);
    border-block-start: 1px solid black;
    #map {
        height: 100%;
        width: 300px;
      }
      
}
.primary-button {
    background-color: var(--primary-blue);
    color: var(--text-on-blue);
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    &:hover {
        background-color: var(--dark-blue);
    }
}